@import "tailwindcss";


/* Custom Premium Scrollbar for the Vault/Catalog
.premium-scroll::-webkit-scrollbar {
  width: 5px;
}

.premium-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
}

.premium-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4f46e5, #ec4899);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.premium-scroll::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}

/* For Firefox */
/* .premium-scroll {
  scrollbar-width: thin;
  scrollbar-color: #4f46e5 rgba(255, 255, 255, 0.02);
/* } */ 

/* Premium Themed Scrollbar */
/* .premium-scroll::-webkit-scrollbar {
  width: 6px;
}

.premium-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.premium-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4f46e5, #ec4899);
  border-radius: 20px;
}

.premium-scroll {
  scrollbar-width: thin;
  scrollbar-color: #4f46e5 transparent;
}

/* Hide scrollbar for Chrome, Safari and Oper
/* Add this to index.css */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
