@import "tailwindcss";

/* Custom Scrollbar for a premium look */
/* .custom-scrollbar::-webkit-scrollbar {


  height: 4px;
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e11d48; 
  border-radius: 10px;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e11d48 transparent;
} */

/* 🌑 NEUTRAL ADAPTIVE SCROLLBAR */
/* Neutral adaptive scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b; /* slate-800 matches black/dark bg */
  border-radius: 20px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* slate-300 for light mode */
  border-radius: 20px;
}
img {
  pointer-events: none;
}